body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	background: url(../images/bkg.png) no-repeat center center fixed;
	background-size: cover;
}

.photo {
    display: block;
    position: relative;
    width: 200px;
    height: 200px;
    left: 40%;
    overflow: hidden;
    border-radius: 48% 52% 68% 32% / 42% 28% 72% 58%;
    background-image: url(../images/photo.png);
    background-size: 100% 100%;
}

.item a, .item a:hover {
  color: white;
  text-decoration: none;
}

.navbar-fixed-left {
  position: fixed;
  top: -25%;
}

.cell{
  padding-top: 1ex;
  padding-bottom: 0.5ex;
}

.left{
  top: 50%;
  float: left;
  transform: translateY(70%);
  width: 50px;
  transition: width .5s;
  border-radius: 0px 10px 10px 0px;
}

.item {
  height: 50px;
  overflow: hidden;
  color: #fff;
  background-color: #000;
  border-radius: 0px 10px 10px 0px;
}

.left:hover {
  width: 200px;
}

.item:hover {
  background-color: #222;
  border-radius: 0px 10px 10px 0px;
}

.left .fas {
  margin: 15px;
  width: 20px;
  color: #fff;
}

i.fas {
  font-size: 17px;
  vertical-align: middle !important;
}
